* {
  box-sizing: border-box; }

div {
  word-wrap: break-word; }

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalRegular.woff");
  font-weight: 400; }

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalMedium.woff");
  font-weight: 500; }

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalBold.woff");
  font-weight: 700; }

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Bold.ttf");
  font-weight: 700; }

body {
  background: #e5e5e5; }

.header {
  display: flex;
  justify-content: space-between;
  height: 173px;
  background: linear-gradient(360deg, #223036 0%, #223036 100%);
  position: relative;
  padding: 47px;
  padding-right: 19px; }
  @media (max-width: 1023px) and (min-width: 768px) {
    .header {
      padding: 16px;
      padding-bottom: 44px; } }
  @media (max-width: 767px) {
    .header {
      height: 48px;
      padding: 7px 16px; } }
  @media (max-width: 767px) {
    .header > :not(:last-child) {
      display: none; } }
  .header__burger-icon {
    display: none; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .header__burger-icon {
        display: block;
        align-self: flex-start; } }
  .header__description {
    color: #ffffff;
    font-family: "ptsans-caption";
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    width: 658px;
    align-self: center;
    margin-left: 35px; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .header__description {
        display: none; } }
  .header__logo {
    display: flex;
    align-items: center; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .header__logo {
        align-self: flex-end; } }
    .header__logo img {
      max-width: 100%;
      width: 370px;
      height: auto; }
  .header__login {
    color: #ffffff;
    font-family: "ptsans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    position: relative;
    top: -36px; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .header__login {
        position: unset; } }
  @media (max-width: 767px) {
    .header__wrapper__burger, .header__wrapper__search-icon, .header__wrapper__login {
      align-self: center;
      display: flex; } }
  @media (max-width: 767px) {
    .header__wrapper__logo {
      margin-left: 19px;
      background: url("/assets/images/logo-mini-brackets.png"); } }
  .header__wrapper_mobile {
    display: none;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .header__wrapper_mobile {
        display: flex;
        justify-content: space-between;
        width: 100%; } }
    @media (max-width: 767px) {
      .header__wrapper_mobile > div {
        display: flex;
        justify-content: space-between; } }
  @media (max-width: 767px) {
    .header__wrapper__login {
      color: #ffffff;
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 10px;
      margin-left: 9px; } }

.menu {
  font-family: "brutal";
  display: flex;
  flex-direction: row;
  height: 48px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%; }
  .menu__items {
    display: flex;
    margin: 12px 0px;
    margin-left: 28px;
    cursor: pointer; }
    @media (max-width: 1439px) and (min-width: 1024px) {
      .menu__items {
        margin-left: 17px; } }
    @media (max-width: 1023px) and (min-width: 768px) {
      .menu__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 19px;
        width: 100%;
        margin-left: 0px;
        align-items: center; } }
    @media (max-width: 767px) {
      .menu__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 14px;
        width: 100%;
        margin-left: 0px;
        align-items: center; } }
    .menu__items__item {
      padding: 4px 13px 3px 14px;
      font-size: 16px; }
      @media (max-width: 1023px) and (min-width: 768px) {
        .menu__items__item {
          padding: 0px 0px; } }
      @media (max-width: 767px) {
        .menu__items__item {
          padding: 0px 0px;
          font-size: 14px; } }
      .menu__items__item_hidden {
        display: none; }
        @media (max-width: 1023px) and (min-width: 768px) {
          .menu__items__item_hidden {
            display: flex; } }
        @media (max-width: 767px) {
          .menu__items__item_hidden {
            display: none; } }
    .menu__items__item:not(:first-child) {
      margin-left: 24px; }
      @media (max-width: 1023px) and (min-width: 768px) {
        .menu__items__item:not(:first-child) {
          margin-left: 0px; } }
      @media (max-width: 767px) {
        .menu__items__item:not(:first-child) {
          margin-left: 0px; } }
    .menu__items__item:hover {
      background: #faaf3f;
      border-radius: 2px;
      color: white;
      transition: background-color 0.3s; }
  .menu__menu-btn {
    margin-left: 47px;
    cursor: pointer; }
    @media (max-width: 1439px) and (min-width: 1024px) {
      .menu__menu-btn {
        margin-left: 40px; } }
    @media (max-width: 1023px) and (min-width: 768px) {
      .menu__menu-btn {
        display: none; } }
    @media (max-width: 767px) {
      .menu__menu-btn {
        display: none; } }
  .menu__search-btn {
    margin-right: 14px;
    margin-left: auto;
    cursor: pointer; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .menu__search-btn {
        display: none; } }
    @media (max-width: 767px) {
      .menu__search-btn {
        display: none; } }

.main__wrapper {
  padding: 0px 68px; }
  @media (max-width: 1439px) and (min-width: 1024px) {
    .main__wrapper {
      padding: 0px 12px; } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .main__wrapper {
      padding: 0px 0px; } }
  @media (max-width: 767px) {
    .main__wrapper {
      padding: 0px 0px; } }
  .main__wrapper__content {
    display: flex; }
  .main__wrapper__today-title {
    font-family: "ptsans-caption";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    padding-top: 35px;
    padding-bottom: 42px;
    letter-spacing: -0.02em;
    font-feature-settings: "tnum" on, "lnum" on; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .main__wrapper__today-title {
        margin-left: 15px; } }
    @media (max-width: 767px) {
      .main__wrapper__today-title {
        padding: 25px 0px;
        margin-left: 11px;
        font-size: 20px; } }

.articles {
  display: flex;
  flex-direction: column; }
  @media (max-width: 1439px) and (min-width: 1024px) {
    .articles {
      padding-right: 10px;
      width: 73%; } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .articles {
      width: 100%; } }
  @media (max-width: 767px) {
    .articles {
      width: 100%; } }
  .articles__combined {
    margin-top: 25px;
    display: flex; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .articles__combined {
        margin-top: 0px;
        flex-direction: column; } }
    @media (max-width: 767px) {
      .articles__combined {
        margin-top: 0px;
        flex-direction: column; } }
    .articles__combined .col:first-child {
      width: 66.3%; }
      @media (max-width: 1439px) and (min-width: 1024px) {
        .articles__combined .col:first-child {
          width: 50%; } }
      @media (max-width: 1023px) and (min-width: 768px) {
        .articles__combined .col:first-child {
          width: 100%; } }
      @media (max-width: 767px) {
        .articles__combined .col:first-child {
          width: 100%; } }
    .articles__combined .col:last-child {
      width: 33.7%; }
      @media (max-width: 1439px) and (min-width: 1024px) {
        .articles__combined .col:last-child {
          width: 50%; } }
      @media (max-width: 1023px) and (min-width: 768px) {
        .articles__combined .col:last-child {
          width: 100%; } }
      @media (max-width: 767px) {
        .articles__combined .col:last-child {
          width: 100%; } }

.article {
  height: 492px;
  background-size: 100% 100%;
  position: relative; }
  @media (max-width: 1439px) and (min-width: 1024px) {
    .article {
      width: 100%; } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .article {
      height: 386px; } }
  @media (max-width: 767px) {
    .article {
      height: 386px; } }
  .article:hover .hover-bracket-1,
  .article:hover .hover-bracket-2,
  .article:hover .hover-bracket-3,
  .article:hover .hover-bracket-4 {
    display: block;
    transition: 0.4s; }
  .article_main {
    background-image: url("../assets/images/article-1.png");
    background-repeat: no-repeat;
    cursor: pointer; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .article_main {
        background: url("../assets/images/article-1-large.png");
        background-size: 100% 100%; } }
    @media (max-width: 767px) {
      .article_main {
        background: url("../assets/images/article-1.png");
        background-size: cover;
        background-position: center; } }
  .article_main .article__wrapper__title {
    height: unset; }
  .article_medium {
    cursor: pointer;
    background-image: url("../assets/images/article-2.png");
    background-repeat: no-repeat;
    width: 69.7%;
    margin-right: 25px; }
    @media (max-width: 1439px) and (min-width: 1024px) {
      .article_medium {
        margin-right: 0; } }
    @media (max-width: 1023px) and (min-width: 768px) {
      .article_medium {
        margin-top: 15px;
        background: url("../assets/images/article-2-large.png");
        background-size: 100% 100%; } }
    @media (max-width: 767px) {
      .article_medium {
        background: url("../assets/images/article-2.png");
        margin-top: 15px;
        background-size: cover;
        background-position: center; } }
  .article_medium .article__wrapper {
    padding: 85px 20px 30px 20px; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .article_medium .article__wrapper {
        padding: 72px 190px 15px 20px; } }
    @media (max-width: 1023px) {
      .article_medium .article__wrapper__description {
        visibility: hidden; } }
  .article_small {
    cursor: pointer;
    background-image: url("../assets/images/article-3.png");
    background-repeat: no-repeat;
    width: 31.3%; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .article_small {
        margin-top: 15px;
        background: url("../assets/images/article-3-large.png");
        background-size: 100% 100%; } }
    @media (max-width: 767px) {
      .article_small {
        background: url("../assets/images/article-3.png");
        margin-top: 15px;
        background-size: cover;
        background-position: center; } }
  .article_small .article__wrapper {
    padding: 85px 20px 30px 20px; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .article_small .article__wrapper {
        padding: 72px 190px 15px 20px; } }
    .article_small .article__wrapper__description {
      height: 92px; }
  @media (max-width: 767px) {
    .article_main .article__wrapper__title,
    .article_medium .article__wrapper__title,
    .article_small .article__wrapper__title {
      font-family: "brutal";
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
      margin: 0px; } }
  .article__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 150px 20px 30px 20px; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .article__wrapper {
        padding: 72px 190px 15px 20px; } }
    @media (max-width: 767px) {
      .article__wrapper {
        padding: 114px 20px 26px 15px; } }
    .article__wrapper__category {
      font-family: "brutal";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
      width: 118px; }
      .article__wrapper__category_text-highlight {
        background: #faaf3f;
        text-align: center;
        border-radius: 2px;
        padding: 3px 0px; }
    .article__wrapper__title {
      font-family: "brutal";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
      height: 83px;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75); }
      @media (max-width: 767px) {
        .article__wrapper__title {
          padding: 0px 0px;
          font-size: 20px; } }
    .article__wrapper__description {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff; }
      @media (max-width: 1023px) and (min-width: 768px) {
        .article__wrapper__description {
          visibility: hidden; } }
      @media (max-width: 767px) {
        .article__wrapper__description {
          display: none; } }

@media (max-width: 1439px) and (min-width: 1024px) {
  .article_small .article__wrapper__description {
    height: 125px; } }

.information-block {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: "ptsans"; }
  .information-block_article-medium, .information-block_article-small {
    flex-direction: column; }
    .information-block_article-medium .information-block__author, .information-block_article-small .information-block__author {
      margin-bottom: 11px; }
  .information-block_article-main {
    flex-direction: flex-start; }
    @media (max-width: 767px) {
      .information-block_article-main {
        flex-direction: column; } }
    @media (max-width: 1023px) and (min-width: 768px) {
      .information-block_article-main {
        flex-direction: column; } }
    .information-block_article-main .information-block__author {
      margin-bottom: 11px; }
    .information-block_article-main__social {
      align-self: flex-start; }
  .information-block_thumb {
    margin-bottom: 0px; }
  .information-block_tests {
    margin-bottom: 0px; }
  .information-block__author {
    width: 294px;
    height: 23px; }
    .information-block__author__name {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px; }
    .information-block__author__date {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px; }
  .information-block__social {
    display: flex;
    align-items: center; }
    .information-block__social > div {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      display: flex;
      align-items: center; }
    .information-block__social > div:not(:last-child) {
      margin-right: 8px; }
    .information-block__social img {
      margin-right: 7px;
      display: flex;
      align-items: center; }

.caption, .thumbs__categories > div {
  font-family: "ptsans";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px; }

.caption {
  margin-top: 26px; }
  @media (max-width: 1023px) and (min-width: 768px) {
    .caption {
      padding: 0px 15px; } }
  @media (max-width: 767px) {
    .caption {
      padding: 0px 17px; } }

.thumbs {
  margin-top: 30px; }
  @media (max-width: 1439px) and (min-width: 1024px) {
    .thumbs {
      overflow: hidden; } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .thumbs {
      overflow: hidden;
      padding-left: 15px; } }
  @media (max-width: 767px) {
    .thumbs {
      overflow: hidden; } }
  .thumbs__categories {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .thumbs__categories {
        display: flex;
        justify-content: space-between;
        padding: 0px 15px; } }
    .thumbs__categories > div {
      font-weight: bold; }
    .thumbs__categories__content {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 767px) {
        .thumbs__categories__content {
          width: 100%; } }
      .thumbs__categories__content__category {
        cursor: pointer;
        padding-bottom: 6px; }
        @media (max-width: 767px) {
          .thumbs__categories__content__category {
            display: none; } }
        .thumbs__categories__content__category:not(:first-child) {
          margin-left: 56px; }
        .thumbs__categories__content__category_short {
          display: none; }
          @media (max-width: 767px) {
            .thumbs__categories__content__category_short {
              display: flex; } }
  .thumbs__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 29px; }
    @media (max-width: 1439px) and (min-width: 1024px) {
      .thumbs__cards {
        width: max-content;
        white-space: nowrap; } }
    @media (max-width: 1023px) and (min-width: 768px) {
      .thumbs__cards {
        width: max-content;
        white-space: nowrap; } }
    @media (max-width: 767px) {
      .thumbs__cards {
        width: max-content;
        white-space: nowrap;
        padding-left: 14px; } }
    .thumbs__cards__card {
      position: relative;
      display: flex;
      padding: 20px 20px;
      height: 177px;
      width: 250px;
      flex-direction: column;
      justify-content: space-between; }
      .thumbs__cards__card:hover .hover-bracket-1,
      .thumbs__cards__card:hover .hover-bracket-2,
      .thumbs__cards__card:hover .hover-bracket-3,
      .thumbs__cards__card:hover .hover-bracket-4 {
        display: block; }
      .thumbs__cards__card:not(:last-child) {
        margin-right: 20px; }
      .thumbs__cards__card_first {
        background: url("../assets/images/thumbs-1.png");
        background-repeat: no-repeat; }
      .thumbs__cards__card_second {
        background: url("../assets/images/thumbs-2.png");
        background-repeat: no-repeat; }
      .thumbs__cards__card_third {
        background: url("../assets/images/thumbs-3.png");
        background-repeat: no-repeat; }
      .thumbs__cards__card__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #ffffff; }
        @media (max-width: 1439px) and (min-width: 1024px) {
          .thumbs__cards__card__title {
            white-space: initial; } }
        @media (max-width: 1023px) and (min-width: 768px) {
          .thumbs__cards__card__title {
            white-space: initial; } }
        @media (max-width: 767px) {
          .thumbs__cards__card__title {
            white-space: initial; } }

.active {
  border-bottom: #f7ab32 solid 2px; }

.timelines {
  margin-top: 40px; }
  @media (max-width: 1023px) and (min-width: 768px) {
    .timelines {
      overflow: hidden;
      padding-left: 15px; } }
  @media (max-width: 767px) {
    .timelines {
      overflow: hidden;
      padding-left: 15px; } }
  .timelines__series {
    display: flex;
    justify-content: space-between; }
    .timelines__series__title {
      font-family: "ptsans-caption";
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 22px;
      letter-spacing: -0.02em; }
  .timelines__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .timelines__wrapper {
        width: max-content;
        white-space: nowrap; } }
    @media (max-width: 767px) {
      .timelines__wrapper {
        width: max-content;
        white-space: nowrap; } }
    @media (max-width: 767px) {
      .timelines__wrapper > :not(:first-child) {
        display: none; } }

.orange-button {
  font-family: "brutal";
  font-size: 14px;
  align-self: center;
  text-align: center;
  padding: 9px;
  letter-spacing: 0.02em;
  background: #faaf3f;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  width: 197px; }
  .orange-button:hover {
    background-color: #f49f21; }
  .orange-button_tests {
    margin-top: 20px;
    width: 100%; }
  .orange-button_series {
    width: 100%; }

.timeline {
  padding: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 37px; }
  @media (max-width: 1023px) and (min-width: 768px) {
    .timeline {
      width: 330px;
      margin-right: 15px; } }
  @media (max-width: 767px) {
    .timeline {
      width: 288px; } }
  .timeline .categories {
    display: none; }
    @media (max-width: 767px) {
      .timeline .categories {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 17px; } }
  .timeline_hidden {
    display: none; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .timeline_hidden {
        display: flex; } }
  .timeline:first-child {
    margin-right: 31px; }
  @media (max-width: 1023px) and (min-width: 768px) {
    .timeline > div {
      white-space: initial; } }
  @media (max-width: 767px) {
    .timeline > div {
      white-space: initial; } }
  .timeline__title {
    font-family: "brutal";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px; }
  .timeline__content {
    border-left: 1px solid #828282;
    position: relative; }
    .timeline__content:before {
      content: "";
      background: linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%), linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%);
      transform: matrix(1, 0, 0, -1, 0, 0);
      position: absolute;
      left: -6px;
      width: 16px;
      height: 9px;
      top: 0px; }
    .timeline__content:after {
      content: "";
      background: linear-gradient(180.87deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 74.8%);
      position: absolute;
      left: -6px;
      bottom: 0px;
      width: 15px;
      height: 42px; }
    .timeline__content__line {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      padding-bottom: 25px;
      padding-left: 14px;
      position: relative;
      cursor: pointer; }
      @media (max-width: 767px) {
        .timeline__content__line_mobile-hidden {
          display: none; } }
    .timeline__content__line:before {
      content: url("../assets/images/dot.svg");
      position: absolute;
      width: 100%;
      left: -5px; }
    .timeline__content__line:hover {
      color: #faaf3f;
      transition: 0.2s; }
    .timeline__content__line:hover:before {
      content: url("../assets/images/yellow-dot.svg"); }
  .timeline_sidebar {
    box-shadow: none;
    padding: 0 0;
    margin-right: 0px;
    margin-bottom: 0px; }
    .timeline_sidebar:first-child {
      margin-right: 0; }
    .timeline_sidebar__button {
      width: 100%;
      margin-top: 19px; }
    .timeline_sidebar__content__line:last-child {
      padding-bottom: 0px; }

.sidebar-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 18px; }

.sidebar {
  margin-left: 20px; }
  @media (max-width: 1439px) and (min-width: 1024px) {
    .sidebar {
      width: 27%;
      padding-left: 10px;
      margin-left: 0px; } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .sidebar {
      display: none; } }
  @media (max-width: 767px) {
    .sidebar {
      display: none; } }
  .sidebar__series__content {
    margin-top: 17px; }
  .sidebar__tests {
    margin-top: 20px; }
    .sidebar__tests .categories {
      width: 100%; }
    .sidebar__tests .timeline__button {
      width: 100%;
      margin-top: 20px; }
    .sidebar__tests__content {
      padding: 64px 18px 21px 20px;
      background: url("../assets/images/test.png");
      background-position: center;
      width: 100%;
      height: 238px;
      margin-top: 17px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-size: 100% 100%;
      position: relative; }
      .sidebar__tests__content:hover .hover-bracket-1,
      .sidebar__tests__content:hover .hover-bracket-2,
      .sidebar__tests__content:hover .hover-bracket-3,
      .sidebar__tests__content:hover .hover-bracket-4 {
        display: flex;
        transition: 0.4s; }
      .sidebar__tests__content__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33); }
  .sidebar__video {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .sidebar__video__content {
      margin-top: 24px;
      background: url("../assets/images/video.png");
      background-position: center;
      width: 100%;
      height: 146px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .sidebar__video__content:hover .hover-bracket-1,
      .sidebar__video__content:hover .hover-bracket-2,
      .sidebar__video__content:hover .hover-bracket-3,
      .sidebar__video__content:hover .hover-bracket-4 {
        display: flex;
        transition: 0.4s; }
      .sidebar__video__content_play-button {
        width: 32px;
        height: 32px; }
    .sidebar__video__description {
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      margin-top: 23px; }
  .sidebar__news {
    margin-top: 20px; }
    .sidebar__news__date {
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      padding-top: 20px; }
    .sidebar__news__time {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      padding-top: 8px; }
    .sidebar__news__description {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      padding-top: 6px; }
      .sidebar__news__description:hover {
        color: #faaf3f;
        cursor: pointer; }

.navigation {
  display: flex; }
  .navigation__right-arrow {
    margin-left: 23px; }
  @media (max-width: 1439px) {
    .navigation {
      visibility: hidden; } }
  @media (max-width: 767px) {
    .navigation {
      display: none; } }

.categories {
  display: flex;
  justify-content: space-between; }
  .categories__title {
    font-family: "brutal";
    font-size: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #333333;
    color: #ffffff;
    border-radius: 2px;
    width: 92px;
    padding: 5px; }
  .categories__link {
    font-family: "ptsans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #0776d2;
    cursor: pointer; }
    .categories__link:hover {
      text-decoration-line: underline; }

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  overflow-x: hidden; }
  @media (max-width: 1200px) {
    .wrapper {
      width: 100%; } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .wrapper {
      width: 100%; } }
  @media (max-width: 767px) {
    .wrapper {
      width: 100%; } }

.hover-bracket-1,
.hover-bracket-2,
.hover-bracket-3,
.hover-bracket-4 {
  position: absolute;
  display: none;
  height: 20px;
  width: 20px; }

.hover-bracket-1 {
  left: 8px;
  top: 8px; }

.hover-bracket-2 {
  right: 8px;
  top: 8px; }

.hover-bracket-3 {
  right: 8px;
  bottom: 8px; }

.hover-bracket-4 {
  left: 8px;
  bottom: 8px; }

.article {
  width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row.row-1 {
    margin-left: -6px;
    margin-right: -6px; }
    .row.row-1 > .col {
      padding-left: 6px;
      padding-right: 6px; }
  .row.row-2 {
    margin-left: -11px;
    margin-right: -11px; }
    .row.row-2 > .col {
      padding-left: 11px;
      padding-right: 11px; }
  .row.row-3 {
    margin-left: -18px;
    margin-right: -18px; }
    .row.row-3 > .col {
      padding-left: 18px;
      padding-right: 18px; }

@media (max-width: 1023px) {
  .hover-control {
    pointer-events: none; } }

/*# sourceMappingURL=index.css.map */
