* {
  box-sizing: border-box; }

div {
  word-wrap: break-word; }

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalRegular.woff");
  font-weight: 400; }

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalMedium.woff");
  font-weight: 500; }

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalBold.woff");
  font-weight: 700; }

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Bold.ttf");
  font-weight: 700; }

body {
  background: #f2f2f2; }

.header {
  display: flex;
  justify-content: space-between;
  height: 173px;
  background: linear-gradient(360deg, #223036 0%, #223036 100%);
  position: relative;
  padding: 47px;
  padding-right: 19px; }
  .header__burger-icon {
    display: none; }
  .header__description {
    color: #ffffff;
    font-family: "ptsans-caption";
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    width: 658px;
    align-self: center;
    margin-left: 35px; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo img {
      max-width: 100%;
      width: 378px;
      height: auto; }
  .header__login {
    color: #ffffff;
    font-family: "ptsans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    position: relative;
    top: -31px; }
  .header__wrapper_mobile {
    display: none;
    justify-content: space-between; }

.main__menu {
  font-family: "brutal";
  display: flex;
  height: 48px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
  .main__menu__items {
    display: flex;
    margin-left: 28px;
    margin-top: 13px;
    margin-bottom: 11px;
    cursor: pointer; }
    .main__menu__items__item {
      padding: 4px 13px 3px 14px; }
      .main__menu__items__item_hidden {
        display: none; }
    .main__menu__items__item:not(:first-child) {
      margin-left: 24px; }
    .main__menu__items__item:hover {
      background: #faaf3f;
      border-radius: 2px;
      transition: background-color 0.3s; }
  .main__menu__menu-btn {
    margin-left: 47px;
    cursor: pointer; }
  .main__menu__search-btn {
    margin-right: 14px;
    margin-left: auto;
    cursor: pointer; }

.main__wrapper {
  padding: 0px 68px; }
  .main__wrapper__content {
    display: flex; }
  .main__wrapper__today-title {
    font-family: "ptsans-caption";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    padding-top: 35px;
    padding-bottom: 42px;
    letter-spacing: -0.02em;
    font-feature-settings: "tnum" on, "lnum" on; }

.articles {
  display: flex;
  flex-direction: column; }
  .articles__combined {
    margin-top: 25px;
    display: flex; }
  .articles__article {
    height: 492px;
    background-size: 100% 100%; }
    .articles__article_main {
      background-image: url("../assets/images/article-1.png");
      background-repeat: no-repeat;
      cursor: pointer; }
    .articles__article_main .articles__article__wrapper__title {
      padding-top: 6px; }
    .articles__article_medium {
      cursor: pointer;
      background-image: url("../assets/images/article-2.png");
      background-repeat: no-repeat;
      width: 69.7%;
      margin-right: 25px; }
    .articles__article_medium .articles__article__wrapper__category {
      padding-top: 85px; }
    .articles__article_medium .articles__article__wrapper .information-block {
      flex-direction: column; }
      .articles__article_medium .articles__article__wrapper .information-block__author {
        margin-bottom: 11px; }
    .articles__article_small {
      cursor: pointer;
      background-image: url("../assets/images/article-3.png");
      background-repeat: no-repeat;
      width: 31.3%; }
    .articles__article_small .articles__article__wrapper__category {
      padding-top: 85px; }
    .articles__article_small .articles__article__wrapper .information-block {
      flex-direction: column; }
      .articles__article_small .articles__article__wrapper .information-block__author {
        margin-bottom: 11px; }
    .articles__article__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 0 20px; }
      .articles__article__wrapper__category {
        font-family: "brutal";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-feature-settings: "tnum" on, "lnum" on;
        color: #ffffff;
        padding-top: 150px;
        width: 118px; }
        .articles__article__wrapper__category_text-highlight {
          background: #faaf3f;
          text-align: center;
          border-radius: 2px;
          padding: 3px 0px; }
      .articles__article__wrapper__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-feature-settings: "tnum" on, "lnum" on;
        color: #ffffff;
        height: 83px;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75); }
      .articles__article__wrapper__description {
        font-family: "ptsans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        font-feature-settings: "tnum" on, "lnum" on;
        height: 73px;
        color: #ffffff; }

.information-block {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: "ptsans";
  margin-bottom: 30px; }
  .information-block__author {
    width: 294px;
    height: 23px; }
    .information-block__author__name {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px; }
    .information-block__author__date {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px; }
  .information-block__social {
    display: flex; }
    .information-block__social > div {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      margin-right: 9px; }

.caption, .thumbs__categories > div {
  font-family: "ptsans";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px; }

.caption {
  margin-top: 26px; }

.thumbs {
  margin-top: 30px; }
  .thumbs__categories {
    display: flex;
    justify-content: space-between; }
    .thumbs__categories > div {
      font-weight: bold; }
    .thumbs__categories__content {
      display: flex;
      justify-content: space-between; }
      .thumbs__categories__content__category {
        cursor: pointer;
        padding-bottom: 6px; }
        .thumbs__categories__content__category:not(:first-child) {
          margin-left: 56px; }
        .thumbs__categories__content__category_active {
          border-bottom: #f7ab32 solid 2px; }
  .thumbs__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 29px; }
    .thumbs__cards__card {
      display: flex;
      padding: 20px 20px;
      height: 177px;
      width: 250px;
      flex-direction: column;
      justify-content: space-between; }
      .thumbs__cards__card .information-block {
        margin-bottom: 0px; }
      .thumbs__cards__card:not(:last-child) {
        margin-right: 20px; }
      .thumbs__cards__card_first {
        background: url("../assets/images/thumbs-1.png");
        background-repeat: no-repeat; }
      .thumbs__cards__card_second {
        background: url("../assets/images/thumbs-2.png");
        background-repeat: no-repeat; }
      .thumbs__cards__card_third {
        background: url("../assets/images/thumbs-3.png");
        background-repeat: no-repeat; }
      .thumbs__cards__card__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #ffffff; }

.timelines {
  margin-top: 30px; }
  .timelines__series {
    display: flex;
    justify-content: space-between; }
    .timelines__series__title {
      font-family: "ptsans-caption";
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 22px;
      letter-spacing: -0.02em; }
  .timelines__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }

.timeline {
  padding: 25px 22px 27px 21px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; }
  .timeline_hidden {
    display: none; }
  .timeline:first-child {
    margin-right: 31px; }
  .timeline__title {
    font-family: "brutal";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px; }
  .timeline__content__line {
    font-family: "ptsans";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 25px;
    padding-left: 14px;
    position: relative;
    border-left: 1px solid black;
    margin-left: 3px;
    cursor: pointer; }
  .timeline__content__line:last-child {
    border-image: linear-gradient(to bottom, #828282, white) 1 100%; }
  .timeline__content__line:first-child {
    border-image: linear-gradient(to top, #828282, white) 1 100%; }
  .timeline__content__line:before {
    content: url("../assets/images/dot.svg");
    position: absolute;
    width: 100%;
    left: -5px; }
  .timeline__content__line:hover {
    color: #faaf3f; }
  .timeline__content__line:hover:before {
    content: url("../assets/images/yellow-dot.svg"); }
  .timeline__button {
    font-family: "brutal";
    font-size: 14px;
    align-self: center;
    text-align: center;
    padding: 9px;
    letter-spacing: 0.02em;
    background: #faaf3f;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    width: 197px; }

.sidebar__series, .sidebar__tests, .sidebar__video, .sidebar__news {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 18px; }

.sidebar {
  margin-left: 20px; }
  .sidebar__series__content {
    margin-top: 17px; }
    .sidebar__series__content .timeline {
      box-shadow: none;
      padding: 0 0;
      margin-right: 0px; }
      .sidebar__series__content .timeline__button {
        width: 100%;
        margin-top: 19px; }
      .sidebar__series__content .timeline__content__line:last-child {
        padding-bottom: 0px; }
  .sidebar__series .information-block {
    width: auto; }
  .sidebar__tests {
    margin-top: 20px; }
    .sidebar__tests .categories {
      width: 100%; }
    .sidebar__tests .timeline__button {
      width: 100%;
      margin-top: 20px; }
    .sidebar__tests__content {
      padding: 64px 18px 21px 20px;
      background: url("../assets/images/test.png");
      background-position: center;
      width: 100%;
      height: 238px;
      margin-top: 17px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .sidebar__tests__content__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33); }
      .sidebar__tests__content .information-block {
        margin-bottom: 0px; }
  .sidebar__video {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .sidebar__video__content {
      margin-top: 24px;
      background: url("../assets/images/video.png");
      background-position: center;
      width: 100%;
      height: 146px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sidebar__video__content_play-button {
        width: 32px;
        height: 32px; }
    .sidebar__video__description {
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      margin-top: 23px; }
  .sidebar__news {
    margin-top: 20px; }
    .sidebar__news__date {
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      padding-top: 20px; }
    .sidebar__news__time {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      padding-top: 8px; }
    .sidebar__news__description {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      padding-top: 6px; }

.navigation {
  display: flex; }
  .navigation__right-arrow {
    margin-left: 15px; }

.categories {
  display: flex;
  justify-content: space-between; }
  .categories__title {
    font-family: "brutal";
    font-size: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #333333;
    color: #ffffff;
    border-radius: 2px;
    width: 92px;
    padding: 5px; }
  .categories__link {
    font-family: "ptsans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #0776d2; }

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff; }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%; } }

@media screen and (max-width: 1439px) {
  .thumbs .navigation {
    visibility: hidden; }
  .timelines__series .navigation {
    visibility: hidden; } }

.articles__combined .col:first-child {
  width: 66.3%; }

.articles__combined .col:last-child {
  width: 33.7%; }

.articles__article {
  width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row.row-1 {
    margin-left: -6px;
    margin-right: -6px; }
    .row.row-1 > .col {
      padding-left: 6px;
      padding-right: 6px; }
  .row.row-2 {
    margin-left: -11px;
    margin-right: -11px; }
    .row.row-2 > .col {
      padding-left: 11px;
      padding-right: 11px; }
  .row.row-3 {
    margin-left: -18px;
    margin-right: -18px; }
    .row.row-3 > .col {
      padding-left: 18px;
      padding-right: 18px; }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .main__wrapper {
    padding: 0px 12px; }
  .main__menu__menu-btn {
    margin-left: 40px; }
  .main__menu__items {
    margin-left: 17px; }
  .articles {
    padding-right: 10px; }
  .sidebar {
    width: 27%;
    padding-left: 10px;
    margin-left: 0px; }
  .articles {
    width: 73%; }
    .articles__article {
      width: 100%; }
      .articles__article_medium {
        margin-right: 0; }
      .articles__article_medium .articles__article__wrapper__description {
        visibility: hidden; }
    .articles__combined > .row > .col {
      width: 50%; }
  .thumbs {
    overflow: hidden; }
    .thumbs__cards {
      width: max-content;
      white-space: nowrap; }
      .thumbs__cards__card__title {
        white-space: initial; } }

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .wrapper {
    width: 100%; }
  .sidebar {
    display: none; }
  .caption {
    padding: 0px 15px; }
  .thumbs {
    overflow: hidden; }
    .thumbs__cards {
      width: max-content;
      white-space: nowrap; }
      .thumbs__cards__card__title {
        white-space: initial; }
    .thumbs__categories {
      margin-left: 15px; }
  .header {
    padding: 16px;
    padding-bottom: 44px; }
    .header__description {
      display: none; }
    .header__burger-icon {
      display: block;
      align-self: flex-start; }
    .header__logo {
      align-self: flex-end; }
    .header__login {
      position: unset; }
  .main__wrapper {
    padding: 0px 0px; }
    .main__wrapper__today-title {
      margin-left: 15px; }
  .main__menu__menu-btn {
    display: none; }
  .main__menu__search-btn {
    display: none; }
  .main__menu__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 19px;
    width: 100%;
    margin-left: 0px; }
    .main__menu__items__item {
      padding: 0px 0px; }
      .main__menu__items__item:not(:first-child) {
        margin-left: 0px; }
      .main__menu__items__item_hidden {
        display: flex; }
  .articles {
    width: 100%; }
    .articles__article {
      height: 386px; }
      .articles__article__wrapper__description {
        visibility: hidden; }
      .articles__article_main .articles__article__wrapper .information-block {
        flex-direction: column; }
        .articles__article_main .articles__article__wrapper .information-block__author {
          margin-bottom: 11px; }
        .articles__article_main .articles__article__wrapper .information-block__description {
          visibility: hidden; }
      .articles__article_main {
        background: url("../assets/images/article-1-large.png");
        background-size: 100% 100%; }
      .articles__article_medium {
        margin-top: 15px;
        background: url("../assets/images/article-2-large.png");
        background-size: 100% 100%; }
      .articles__article_small {
        margin-top: 15px;
        background: url("../assets/images/article-3-large.png");
        background-size: 100% 100%; }
    .articles__combined {
      margin-top: 0px;
      flex-direction: column; }
      .articles__combined .col:first-child {
        width: 100%; }
      .articles__combined .col:last-child {
        width: 100%; }
  .timeline {
    width: 330px;
    margin-right: 15px; }
    .timeline_hidden {
      display: flex; }
    .timeline > div {
      white-space: initial; }
  .timelines {
    overflow: hidden; }
    .timelines__series {
      padding-left: 15px; }
    .timelines__wrapper {
      width: max-content;
      white-space: nowrap; } }

@media screen and (max-width: 767px) and (min-width: 320px) {
  .wrapper {
    width: 100%; }
  .sidebar {
    display: none; }
  .header {
    height: 48px; }
    .header > :not(:last-child) {
      display: none; }
    .header__wrapper_mobile {
      display: flex; } }

/*# sourceMappingURL=index.css.map */
