* {
  box-sizing: border-box;
}

div {
  word-wrap: break-word;
}

@import "colors.scss";

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalRegular.woff");
  font-weight: 400;
}

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalMedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalBold.woff");
  font-weight: 700;
}

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Bold.ttf");
  font-weight: 700;
}

body {
  background: $page-color;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 173px;
  background: $header-color;
  position: relative;
  padding: 47px;
  padding-right: 19px;
  &__burger-icon {
    display: none;
  }
  &__description {
    color: #ffffff;
    font-family: "ptsans-caption";
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    width: 658px;
    align-self: center;
    margin-left: 35px;
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      width: 370px;
      height: auto;
    }
  }
  &__login {
    color: #ffffff;
    font-family: "ptsans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    position: relative;
    top: -36px;
  }

  &__wrapper {
    &_mobile {
      display: none;
      justify-content: space-between;
    }
  }
}

.menu {
  font-family: "brutal";
  display: flex;
  flex-direction: row;
  height: 48px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  &__items {
    display: flex;
    margin: 12px 0px;
    margin-left: 28px;
    cursor: pointer;
    &__item {
      padding: 4px 13px 3px 14px;
      font-size: 16px;
      &_hidden {
        display: none;
      }
    }
    &__item:not(:first-child) {
      margin-left: 24px;
    }
    &__item:hover {
      background: $yellow-label;
      border-radius: 2px;
      color: white;
      transition: background-color 0.3s;
    }
  }
  &__menu-btn {
    margin-left: 47px;
    cursor: pointer;
  }
  &__search-btn {
    margin-right: 14px;
    margin-left: auto;
    cursor: pointer;
  }
}

.main {
  &__wrapper {
    padding: 0px 68px;
    &__content {
      display: flex;
    }
    &__today-title {
      font-family: "ptsans-caption";
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 22px;
      padding-top: 35px;
      padding-bottom: 42px;
      letter-spacing: -0.02em;
      font-feature-settings: "tnum" on, "lnum" on;
    }
  }
}
.articles {
  display: flex;
  flex-direction: column;
  &__combined {
    margin-top: 25px;
    display: flex;
  }
  &__article {
    height: 492px;
    background-size: 100% 100%;
    position: relative;
    &:hover {
      .hover-bracket-1,
      .hover-bracket-2,
      .hover-bracket-3,
      .hover-bracket-4 {
        display: block;
        transition: 0.4s;
      }
    }
    &_main {
      background-image: url("../assets/images/article-1.png");
      background-repeat: no-repeat;
      cursor: pointer;
    }
    &_main & {
      &__wrapper {
        &__title {
          height: unset;
        }
        .information-block {
          &__social,
          &__social > div {
            display: flex;
            align-self: center;
          }
        }
      }
    }
    &_medium {
      cursor: pointer;
      background-image: url("../assets/images/article-2.png");
      background-repeat: no-repeat;
      width: 69.7%;
      margin-right: 25px;
    }
    &_medium & {
      &__wrapper {
        padding: 85px 20px 30px 20px;
        .information-block {
          flex-direction: column;
          &__author {
            margin-bottom: 11px;
          }
        }
      }
    }
    &_small {
      cursor: pointer;
      background-image: url("../assets/images/article-3.png");
      background-repeat: no-repeat;
      width: 31.3%;
    }

    &_small & {
      &__wrapper {
        padding: 85px 20px 30px 20px;
        &__description {
          height: 92px;
        }
        .information-block {
          flex-direction: column;
          &__author {
            margin-bottom: 11px;
          }
        }
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 150px 20px 30px 20px;
      &__category {
        font-family: "brutal";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-feature-settings: "tnum" on, "lnum" on;
        color: #ffffff;
        width: 118px;

        &_text-highlight {
          background: $yellow-label;
          text-align: center;
          border-radius: 2px;
          padding: 3px 0px;
        }
      }
      &__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-feature-settings: "tnum" on, "lnum" on;
        color: #ffffff;
        height: 83px;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
      }
      &__description {
        font-family: "ptsans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        font-feature-settings: "tnum" on, "lnum" on;
        color: #ffffff;
      }
    }
  }
}
.information-block {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: "ptsans";
  &__author {
    width: 294px;
    height: 23px;
    &__name {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
    }
    &__date {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
    }
  }
  &__social {
    display: flex;
    align-items: center;

    & > div {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      display: flex;
      align-items: center;
    }

    > div:not(:last-child) {
      margin-right: 8px;
    }
    img {
      margin-right: 7px;
      display: flex;
      align-items: center;
    }
  }
}
%caption-styles {
  font-family: "ptsans";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}

.caption {
  @extend %caption-styles;
  margin-top: 26px;
}

.thumbs {
  margin-top: 30px;
  &__categories {
    display: flex;
    justify-content: space-between;
    & > div {
      @extend %caption-styles;
      font-weight: bold;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      &__category {
        cursor: pointer;
        padding-bottom: 6px;

        &:not(:first-child) {
          margin-left: 56px;
        }

        &_short {
          display: none;
        }
      }
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    &__card {
      position: relative;

      &:hover {
        .hover-bracket-1,
        .hover-bracket-2,
        .hover-bracket-3,
        .hover-bracket-4 {
          display: block;
        }
      }
      .information-block {
        margin-bottom: 0px;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
      &_first {
        background: url("../assets/images/thumbs-1.png");
        background-repeat: no-repeat;
      }
      &_second {
        background: url("../assets/images/thumbs-2.png");
        background-repeat: no-repeat;
      }

      &_third {
        background: url("../assets/images/thumbs-3.png");
        background-repeat: no-repeat;
      }

      display: flex;
      padding: 20px 20px;
      height: 177px;
      width: 250px;
      flex-direction: column;
      justify-content: space-between;
      &__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #ffffff;
      }
    }
  }
}

.active {
  border-bottom: $thumbs-underline solid 2px;
}
.timelines {
  margin-top: 40px;
  &__series {
    display: flex;
    justify-content: space-between;

    &__title {
      font-family: "ptsans-caption";
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 22px;
      letter-spacing: -0.02em;
    }
  }
  &__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.timeline {
  padding: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
  .categories {
    display: none;
  }
  &_hidden {
    display: none;
  }
  &:first-child {
    margin-right: 31px;
  }
  &__title {
    font-family: "brutal";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px;
  }
  &__content {
    border-left: 1px solid #828282;
    position: relative;
    &:before {
      content: "";
      background: linear-gradient(
          180.15deg,
          rgba(255, 255, 255, 0) 0.23%,
          #ffffff 126.37%
        ),
        linear-gradient(
          180.15deg,
          rgba(255, 255, 255, 0) 0.23%,
          #ffffff 126.37%
        );
      transform: matrix(1, 0, 0, -1, 0, 0);
      position: absolute;
      left: -6px;
      width: 16px;
      height: 9px;
      top: 0px;
    }
    &:after {
      content: "";
      background: linear-gradient(
        180.87deg,
        rgba(255, 255, 255, 0) 0.23%,
        #ffffff 74.8%
      );
      position: absolute;
      left: -6px;
      bottom: 0px;
      width: 15px;
      height: 42px;
    }

    &__line {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      padding-bottom: 25px;
      padding-left: 14px;
      position: relative;
      cursor: pointer;
    }

    &__line:before {
      content: url("../assets/images/dot.svg");
      position: absolute;
      width: 100%;
      left: -5px;
    }

    &__line:hover {
      color: $yellow-label;
      transition: 0.2s;
    }

    &__line:hover:before {
      content: url("../assets/images/yellow-dot.svg");
    }
  }
  &__button {
    font-family: "brutal";
    font-size: 14px;
    align-self: center;
    text-align: center;
    padding: 9px;
    letter-spacing: 0.02em;
    background: $yellow-label;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    width: 197px;
    &:hover {
      background-color: $yellow-button-hover;
    }
  }
}

%sidebar-block-styles {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 18px;
}

.sidebar {
  margin-left: 20px;
  &__series {
    @extend %sidebar-block-styles;
    &__content {
      margin-top: 17px;
      .timeline {
        box-shadow: none;
        padding: 0 0;
        margin-right: 0px;
        margin-bottom: 0px;
        &__button {
          width: 100%;
          margin-top: 19px;
        }
        &__content {
          &__line:last-child {
            padding-bottom: 0px;
          }
        }
      }
    }
    .information-block {
      width: auto;
    }
  }
  &__tests {
    @extend %sidebar-block-styles;
    margin-top: 20px;
    .categories {
      width: 100%;
    }
    .timeline {
      &__button {
        width: 100%;
        margin-top: 20px;
      }
    }
    &__content {
      padding: 64px 18px 21px 20px;
      background: url("../assets/images/test.png");
      background-position: center;
      width: 100%;
      height: 238px;
      margin-top: 17px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-size: 100% 100%;
      position: relative;
      &:hover {
        .hover-bracket-1,
        .hover-bracket-2,
        .hover-bracket-3,
        .hover-bracket-4 {
          display: flex;
          transition: 0.4s;
        }
      }
      &__title {
        font-family: "brutal";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
      }
      .information-block {
        margin-bottom: 0px;
      }
    }
  }
  &__video {
    @extend %sidebar-block-styles;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__content {
      margin-top: 24px;
      background: url("../assets/images/video.png");
      background-position: center;
      width: 100%;
      height: 146px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:hover {
        .hover-bracket-1,
        .hover-bracket-2,
        .hover-bracket-3,
        .hover-bracket-4 {
          display: flex;
          transition: 0.4s;
        }
      }
      &_play-button {
        width: 32px;
        height: 32px;
      }
    }
    &__description {
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      margin-top: 23px;
    }
  }
  &__news {
    @extend %sidebar-block-styles;
    margin-top: 20px;
    &__date {
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      padding-top: 20px;
    }
    &__time {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      padding-top: 8px;
    }
    &__description {
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      padding-top: 6px;
      &:hover {
        color: $yellow-label;
        cursor: pointer;
      }
    }
  }
}

.navigation {
  display: flex;
  &__right-arrow {
    margin-left: 23px;
  }
}

.categories {
  display: flex;
  justify-content: space-between;
  &__title {
    font-family: "brutal";
    font-size: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #333333;
    color: #ffffff;
    border-radius: 2px;
    width: 92px;
    padding: 5px;
  }

  &__link {
    font-family: "ptsans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: $link-color;
    cursor: pointer;
    &:hover {
      text-decoration-line: underline;
    }
  }
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1439px) {
  .thumbs {
    .navigation {
      visibility: hidden;
    }
  }

  .timelines {
    &__series {
      .navigation {
        visibility: hidden;
      }
    }
  }
}

.hover-bracket-1,
.hover-bracket-2,
.hover-bracket-3,
.hover-bracket-4 {
  position: absolute;
  display: none;
  height: 20px;
  width: 20px;
}

.hover-bracket-1 {
  left: 8px;
  top: 8px;
}

.hover-bracket-2 {
  right: 8px;
  top: 8px;
}

.hover-bracket-3 {
  right: 8px;
  bottom: 8px;
}

.hover-bracket-4 {
  left: 8px;
  bottom: 8px;
}

.articles {
  &__combined {
    .col:first-child {
      width: 66.3%;
    }

    .col:last-child {
      width: 33.7%;
    }
  }

  &__article {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  &.row-1 {
    margin-left: -6px;
    margin-right: -6px;

    > .col {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  &.row-2 {
    margin-left: -11px;
    margin-right: -11px;

    > .col {
      padding-left: 11px;
      padding-right: 11px;
    }
  }

  &.row-3 {
    margin-left: -18px;
    margin-right: -18px;

    > .col {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .articles {
    &__article {
      &_medium & {
        &__wrapper {
          &__description {
            visibility: hidden;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .main {
    &__wrapper {
      padding: 0px 12px;
    }
    &__menu {
      &__menu-btn {
        margin-left: 40px;
      }
      &__items {
        margin-left: 17px;
      }
    }
  }
  .articles {
    padding-right: 10px;
  }
  .sidebar {
    width: 27%;
    padding-left: 10px;
    margin-left: 0px;
  }
  .articles {
    width: 73%;

    &__article {
      width: 100%;

      &_medium {
        margin-right: 0;

        br {
          display: none;
        }
      }
    }
    &__combined {
      > .row > .col {
        width: 50%;
      }
    }
  }

  .articles__article_small .articles__article__wrapper__description {
    height: 125px;
  }

  .thumbs {
    overflow: hidden;
    &__cards {
      width: max-content;
      white-space: nowrap;
      &__card {
        &__title {
          white-space: initial;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .sidebar {
    display: none;
  }

  .caption {
    padding: 0px 15px;
  }
  .thumbs {
    overflow: hidden;
    padding-left: 15px;

    &__cards {
      width: max-content;
      white-space: nowrap;
      &__card {
        &__title {
          white-space: initial;
        }
      }
    }
  }
  .header {
    padding: 16px;
    padding-bottom: 44px;
    &__description {
      display: none;
    }
    &__burger-icon {
      display: block;
      align-self: flex-start;
    }
    &__logo {
      align-self: flex-end;
    }
    &__login {
      position: unset;
    }
  }
  .main {
    &__wrapper {
      padding: 0px 0px;
      &__today-title {
        margin-left: 15px;
      }
    }
    &__menu {
      &__menu-btn {
        display: none;
      }
      &__search-btn {
        display: none;
      }
      &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 19px;
        width: 100%;
        margin-left: 0px;
        align-items: center;
        &__item {
          padding: 0px 0px;
          &:not(:first-child) {
            margin-left: 0px;
          }
          &_hidden {
            display: flex;
          }
        }
      }
    }
  }
  .articles {
    width: 100%;
    &__article {
      height: 386px;
      &__wrapper {
        padding: 72px 190px 15px 20px;
        &__description {
          visibility: hidden;
        }
      }
      &_main & {
        &__wrapper {
          .information-block {
            flex-direction: column;
            &__author {
              margin-bottom: 11px;
            }
            &__social {
              align-self: flex-start;
            }
          }
        }
      }

      &_medium & {
        &__wrapper {
          padding: 72px 190px 15px 20px;
        }
      }

      &_small & {
        &__wrapper {
          padding: 72px 190px 15px 20px;
        }
      }

      &_main {
        background: url("../assets/images/article-1-large.png");
        background-size: 100% 100%;
      }
      &_medium {
        margin-top: 15px;
        background: url("../assets/images/article-2-large.png");
        background-size: 100% 100%;
      }
      &_small {
        margin-top: 15px;
        background: url("../assets/images/article-3-large.png");
        background-size: 100% 100%;
      }
    }
    &__combined {
      margin-top: 0px;
      flex-direction: column;
      .col:first-child {
        width: 100%;
      }

      .col:last-child {
        width: 100%;
      }
    }
  }

  .timeline {
    width: 330px;
    margin-right: 15px;
    &_hidden {
      display: flex;
    }
    & > div {
      white-space: initial;
    }
  }

  .timelines {
    overflow: hidden;
    padding-left: 15px;
    &__wrapper {
      width: max-content;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .wrapper {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .header {
    height: 48px;
    padding: 7px 16px;
    > :not(:last-child) {
      display: none;
    }
    &__wrapper {
      &__burger,
      &__search-icon,
      &__login {
        align-self: center;
        display: flex;
      }
      &__logo {
        margin-left: 19px;
        background: url("/assets/images/logo-mini-brackets.png");
      }
      &__login {
        color: #ffffff;
        font-family: "ptsans";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 10px;
        margin-left: 9px;
      }

      &_mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        > div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .timeline {
    width: 288px;
    & > div {
      white-space: initial;
    }
    .categories {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 17px;
    }

    &__content {
      &__line {
        &_mobile-hidden {
          display: none;
        }
      }
    }
  }

  .main {
    &__menu {
      &__menu-btn,
      &__search-btn {
        display: none;
      }
      &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 14px;
        width: 100%;
        margin-left: 0px;
        align-items: center;
        &__item {
          padding: 0px 0px;
          font-size: 14px;
          &:not(:first-child) {
            margin-left: 0px;
          }
          &_hidden {
            display: none;
          }
        }
      }
    }

    &__wrapper {
      padding: 0px 0px;
      &__today-title {
        padding: 25px 0px;
        margin-left: 11px;
        font-size: 20px;
      }
    }
  }

  .articles {
    width: 100%;

    &__combined {
      margin-top: 0px;
      flex-direction: column;
      .col:first-child {
        width: 100%;
      }

      .col:last-child {
        width: 100%;
      }
    }

    &__article {
      height: 386px;

      &__wrapper {
        padding: 114px 20px 26px 15px;
        &__description {
          display: none;
        }
        &__title {
          padding: 0px 0px;
          font-size: 20px;
        }
      }
      &_main & {
        &__wrapper {
          .information-block {
            &__social {
              align-self: flex-start;
            }
          }
        }
      }
      &_main & {
        &__wrapper {
          .information-block {
            &__social {
              align-self: flex-start;
            }
          }
        }
      }

      &_main {
        background: url("../assets/images/article-1.png");
        background-size: cover;
        background-position: center;

        .information-block {
          flex-direction: column;
          &__author {
            margin-bottom: 11px;
          }
        }
      }
      &_medium {
        background: url("../assets/images/article-2.png");
        margin-top: 15px;
        background-size: cover;
        background-position: center;
      }
      &_small {
        background: url("../assets/images/article-3.png");
        margin-top: 15px;
        background-size: cover;
        background-position: center;
      }
    }
    &_main &,
    &_medium &,
    &_small & {
      &__wrapper {
        &__title {
          font-family: "brutal";
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
          margin: 0px;
        }
      }
    }
  }
  .thumbs {
    overflow: hidden;
    &__cards {
      width: max-content;
      white-space: nowrap;
      padding-left: 14px;
      &__card {
        &__title {
          white-space: initial;
        }
      }
    }
    &__categories {
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;

      .navigation {
        display: none;
      }

      &__content {
        width: 100%;

        &__category {
          display: none;

          &_short {
            display: flex;
          }
        }
      }
    }
  }

  .timelines {
    overflow: hidden;
    padding-left: 15px;
    &__wrapper {
      width: max-content;
      white-space: nowrap;
      & > :not(:first-child) {
        display: none;
      }
    }
  }
  .caption {
    padding: 0px 17px;
  }
}

@media screen and (max-width: 1023px) {
  .hover-control {
    pointer-events: none;
  }
}
