* {
  box-sizing: border-box;
}

div {
  word-wrap: break-word;
}

@import "colors.scss";
@import "mixins.scss";
@import "./elements/article-block.scss";
@import "./elements/header.scss";
@import "./elements/menu.scss";
@import "./elements/components.scss";
@import "./elements/timelines.scss";
@import "./elements/sidebar.scss";
@import "./elements/thumbs.scss";

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalRegular.woff");
  font-weight: 400;
}

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalMedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: brutal;
  src: url(".././assets/fonts/BrutalBold.woff");
  font-weight: 700;
}

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsans;
  src: url(".././assets/fonts/PTSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsans-caption;
  src: url("../assets/fonts/PTSansCaption-Bold.ttf");
  font-weight: 700;
}

body {
  background: $page-color;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  overflow-x: hidden;
  @include media-content {
    width: 100%;
  }
  @include media-tablet {
    width: 100%;
  }
  @include media-mobile {
    width: 100%;
  }
}

.hover-bracket-1,
.hover-bracket-2,
.hover-bracket-3,
.hover-bracket-4 {
  position: absolute;
  display: none;
  height: 20px;
  width: 20px;
}

.hover-bracket-1 {
  left: 8px;
  top: 8px;
}

.hover-bracket-2 {
  right: 8px;
  top: 8px;
}

.hover-bracket-3 {
  right: 8px;
  bottom: 8px;
}

.hover-bracket-4 {
  left: 8px;
  bottom: 8px;
}

.hover-control {
  @include media-non-desktop {
    pointer-events: none;
  }
}
